.cross {
  color: black;
  background: transparent;
  width: 36px;
  height: 36px;
}
.cross::before {
  content: '';
  position: absolute;
  top: -13px;
  left: 3px;
  width: 2px;
  height: 7px;
  border-top: 13px solid black;
  border-bottom: 13px solid black;
  border-radius: 2px;
}
.cross::after {
  content: '';
  position: absolute;
  top: 3px;
  left: -14px;
  width: 7px;
  height: 2px;
  border-left: 13px solid black;
  border-right: 13px solid black;
  border-radius: 2px;
}
